* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    font-family: gilroy;
    /* font-family: rejoy; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}

#cursor {
    font-family: rejoy;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    font-weight: 100;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #333333;
    padding: -2px -2px;
}

.menupart {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: none;
    position: absolute;
    z-index: 999;
    /* display: flex; */
}

#left_portion {
    margin-top: 0%;
    height: 0%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#division_1,
#division_2,
#division_3,
#division_4,
#division_5 {
    height: 20%;
    width: 100%;
    border-bottom: .1px solid black;
    position: relative;
}

#overlay_1,
#overlay_2,
#overlay_3,
#overlay_4,
#overlay_5 {
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: white;
    transition: all ease .5s;
}

#overlay_1,
#overlay_2,
#overlay_3,
#overlay_4,
#overlay_5,
p_one,
p_two,
p_three,
p_four,
p_five {
    padding-top: 4vh;
    padding-left: 3vw;
    font-size: 8.5vh;
    font-weight: lighter;
    color: rgb(34, 34, 34);
    text-transform: capitalize;
    transition: all ease .5s;
    position: relative;
    z-index: 9;
}

p_one::after {
    content: "1";
    font-size: 2vh;
    position: absolute;
    top: 7vh;
}

p_two::after {
    content: "2";
    font-size: 2vh;
    position: absolute;
    top: 7vh;
}


p_three::after {
    content: "3";
    font-size: 2vh;
    position: absolute;
    top: 7vh;
}


p_four::after {
    content: "4";
    font-size: 2vh;
    position: absolute;
    top: 7vh;
}


p_five::after {
    content: "5";
    font-size: 2vh;
    position: absolute;
    top: 7vh;
}


#division_1:hover {
    #overlay_1 {
        height: 100%;
        /* background-color: rgb(225, 225, 225); */
        background-color: #222222;
    }

    p_one {
        margin-left: 2vw;
        color: white;
    }
}

#division_2:hover {
    #overlay_2 {
        height: 100%;
        background-color: #222222;
    }

    p_two {
        margin-left: 2vw;
        color: white;
    }
}

#division_3:hover {
    #overlay_3 {
        height: 100%;
        background-color: #222222;
    }

    p_three {
        margin-left: 2vw;
        color: white;
    }
}

#division_4:hover {
    #overlay_4 {
        height: 100%;
        background-color: #222222;
    }

    p_four {
        margin-left: 2vw;
        color: white;
    }
}

#division_5:hover {
    #overlay_5 {
        height: 100%;
        background-color: #222222;
    }

    p_five {
        margin-left: 2vw;
        color: white;
    }
}

#right_portion {
    margin-top: 50%;
    height: 0%;
    width: 50%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
}

#division_6 {
    height: 40%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#division_6 i {
    color: white;
    font-size: 3.5vh;
    position: absolute;
    right: 2.6vw;
    top: 1.75vh;
}

#inner_div1 {
    height: 50%;
    width: 90%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    padding-left: 2.3vw;
}

p_inner1 {
    text-transform: uppercase;
    font-size: 8vh;
    font-weight: lighter;
    font-family: system-ui;
    color: white;
    font-weight: 100;
}

p_inner1 span {
    color: white;
    font-size: 8vh;
    font-weight: 500;
    text-transform: uppercase;
}

#inner_div2 {
    height: 50%;
    width: 90%;
    /* border: 1px solid blue; */
    padding-left: 2.5vw;
}

p_inner2 {
    font-size: 2.7vh;
    color: white;
    font-weight: 100;
    line-height: 3.1vh;
}

p_inner2 span {
    font-size: 2.3;
    color: white;
    font-weight: 100;
    font-family: system-ui;
}

#division_7 {
    height: 40%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inner_div3 {
    height: 100%;
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#inside1 {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3vw;
    gap: 1vw;
}

#shape1 {
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.3vh;
    font-weight: 100;
    font-family: system-ui;
}

#shape2 {
    font-size: 2.9vh;
    font-weight: 100;
    text-transform: capitalize;
    color: white;
    font-family: 6vh;
}

#text1 {
    font-family: .5vh;
    font-family: sans-serif;
    margin-top: 6vh;
    margin-left: -6.5vw;
    color: white;
    font-weight: 100;
}

#text2 {
    font-family: .5vh;
    font-family: sans-serif;
    margin-top: 6vh;
    margin-left: -5.5vw;
    color: white;
    font-weight: 100;
}

#inside2 {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3vw;
    gap: 1vw;
}

#shape3 {
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.3vh;
    font-weight: 100;
    font-family: system-ui;
}

#shape4 {
    font-size: 2.9vh;
    font-weight: 100;
    text-transform: capitalize;
    color: white;
    font-family: 6vh;
}

#inner_div4 {
    height: 100%;
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#inside3 {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3vw;
    gap: 1vw;
}

#shape5 {
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.3vh;
    font-weight: 100;
    font-family: system-ui;
}

#shape6 {
    font-size: 2.9vh;
    font-weight: 100;
    text-transform: capitalize;
    color: white;
    font-family: 6vh;
}

#inside4 {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3vw;
    gap: 1vw;
}

#shape7 {
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.3vh;
    font-weight: 100;
    font-family: system-ui;
}

#shape8 {
    font-size: 2.9vh;
    font-weight: 100;
    text-transform: capitalize;
    color: white;
    font-family: 6vh;
}

#division_8 {
    height: 20%;
    width: 80%;
    margin-left: 5vw;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
}

#end1 {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5vh;
}

#division_8 i {
    color: white;
    font-size: 7.5vh;
    font-weight: 100;
}

#division_8 p {
    font-family: sans-serif;
    color: white;
    font-size: 7.5vh;
    font-weight: 100;
}

#end2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -6.5vh;
}

pone {
    font-family: sans-serif;
    color: white;
    font-size: 2vh;
    font-weight: 100;
}

ptwo {
    font-family: sans-serif;
    color: white;
    font-size: 2vh;
    font-weight: 100;
}

.uppersection {
    height: 100vh;
    width: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    overflow-x: hidden;
}

#column1 {
    height: 100vh;
    width: 25vw;
    background-color: rgb(29, 29, 29);
}

#column2 {
    height: 100vh;
    width: 25vw;
    background-color: rgb(29, 29, 29);

}

#column3 {
    height: 100vh;
    width: 25vw;
    background-color: rgb(29, 29, 29);
}

#column4 {
    height: 100vh;
    width: 25vw;
    background-color: rgb(29, 29, 29);
}



#logo {
    height: 13vh;
    width: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(29, 29, 29);
    display: flex;
}

#font1 {
    height: 100%;
    width: 45%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#font1>h1 {
    font-size: 12vh;
    color: white;
    font-weight: 100;
}

#font2 {
    height: 100%;
    width: 45%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#font2>h1 {
    font-size: 12vh;
    color: white;
    font-weight: 100;
}

#font3 {
    height: 100%;
    width: 10%;
    /* border: 2px solid red; */
}

#font3>h1 {
    font-size: 12vh;
    color: white;
    font-weight: 100;
    margin-top: -85px;
    margin-left: -10px;
}

#item1 {
    height: 43.6vh;
    width: 100vw;
    background-color: rgb(29, 29, 29);
    position: absolute;

}

#item2 {
    height: 43.6vh;
    width: 100vw;
    background-color: rgb(29, 29, 29);
    position: absolute;
    bottom: 0%;

}

/* .main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(39, 38, 38);
} */



.container1 {
    height: 68vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 999;
    overflow: hidden;
}

#nav-section {
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-section #one {
    padding-left: 40px;
}

#nav-section #one h6 {
    text-transform: uppercase;
    font-size: 1.7rem;

}

#nav-section #one span {
    text-transform: uppercase;
    font-family: silk-serif;
    font-size: 1.7rem;
    font-weight: 100;
    margin-left: -5px;
}

#nav-section #two p {
    text-transform: uppercase;
    font-family: silk;
    font-size: 1.1rem;
    font-weight: 100;
}

#nav-section #three p {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.872);
}


#nav-section #four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-right: 50px;
}

#div1 {
    height: 2px;
    width: 35px;
    background-color: black;
}

#div2 {
    height: 2px;
    width: 35px;
    background-color: black;
}

.container1 #line {
    height: 1px;
    width: 100%;
    background-color: black
}

#text {
    height: calc(68vh - 7vh);
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: center;
}

#text sub {
    margin-left: -130px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, 0.478);
}

#text h1 {
    font-size: 25vh;
    text-transform: uppercase;
    font-weight: 100;
    color: rgb(51, 51, 51);
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* #text h1::after{
    content: '.';
    font-size: 5rem;
} */

#text span {
    font-weight: 800;
    font-size: 25vh;
    letter-spacing: 1px;
}

.container2 {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container2 img {
    margin-top: -10vh;
}

.container2 p1 {
    position: absolute;
    color: white;
    margin-left: 87%;
    font-style: italic;
    font-size: .7vw;
    line-height: 1rem;
    margin-top: -39vh;
    letter-spacing: .5x;
    font-weight: lighter;
}

.container2 p1 span {
    font-size: 2.5rem;
    margin-left: -35px;
    margin-right: 20px;
    color: white;
}

.container2 p2 {
    position: absolute;
    color: white;
    /* font-style: italic; */
    /* font-weight: lighter; */
    /* font-size: 2rem; */
    font-family: "Cedarville Cursive", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    text-transform: capitalize;
    line-height: .9rem;
    margin-top: -13%;
    letter-spacing: .5x;
    margin-left: 87.1%;
}

.container3 {
    height: 80vh;
    width: 100vw;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* margin-top: -1vh; */
}

.container3 #left {
    height: 100%;
    width: 35%;
    /* border: 1px solid white; */
    padding: 11vh 3vw;
}

.container3 #left h6 {
    color: white;
    font-weight: 100;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.container3 #right {
    height: 100%;
    width: 65%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5vh;
}

.container3 #right #h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21vw;
}

.container3 #right #h2 h2 {
    color: white;
    font-size: 3rem;
    font-weight: 100;
}

.container3 #right #circle {
    margin-top: -23vh;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
}

.container3 #row {
    height: 1px;
    /* width: 61vw; */
    background-color: white;
}

.container3 #para {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28vw;
}

.container3 #para p {
    color: white;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 400;
}

.container3 #para h6 {
    margin-bottom: -5vh;
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: system-ui;
    font-weight: 500;
}

.container4 {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container4 #upper {
    height: 30vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container4 #upper #shape {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: -3vw;
    margin-right: 5vw;
}

.container4 #upper h1 {
    font-size: 6.5rem;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
    font-weight: 300;
    margin-left: 14vw;
    letter-spacing: -1px;

}

.container4 #upper #button button {
    padding: 1vh 1.8vw;
    background-color: transparent;
    border: 1px solid black;
    font-family: gilroy;
    text-transform: uppercase;
    border-radius: 30px;
    padding-right: -20px;
    margin-right: -3vw;
    font-size: 2vh;
}

.container4 #upper #button i {
    font-size: 1rem;
}

.container4 #lower {
    height: 70vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1vw;
}

#lower #card1 {
    height: 85%;
    width: 30%;
    background-image: url(https://images.unsplash.com/photo-1514179974491-a7885781ed87?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGx1eHVyeSUyMHJlc2lkZW5jeXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}

#lower #card1:hover {
    background-color: rgba(0, 0, 0, 0.301);
}


#lower #card1 #overlay1 {

    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    /* border: 2px solid black; */
}


#lower #card1 h1 {
    font-size: 1.4rem;
    /* font-family: system-ui; */
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 61vh;
}

#lower #card1 p {
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.498);
}

#lower #card2 {
    height: 85%;
    width: 30%;
    background-image: url(https://images.unsplash.com/photo-1536008046477-01746710ffb9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGx1eHVyeSUyMHJlc2lkZW5jeXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}

#lower #card2 #overlay2 {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    /* border: 2px solid black; */
}

#lower #card2 h1 {
    font-size: 1.4rem;
    /* font-family: system-ui; */
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 61vh;
}

#lower #card2 p {
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.498);
}

#lower #card3 {
    height: 85%;
    width: 30%;
    background-image: url(https://assets-global.website-files.com/65954b3b08c10f984a99513e/65962c9f0374f0fedb7ccbc6_nordicharmony-01-p-800.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

#lower #card3 #overlay3 {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    /* border: 2px solid black; */
}

#lower #card3 h1 {
    font-size: 1.4rem;
    /* font-family: system-ui; */
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 61vh;
}

#lower #card3 p {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.498);
    font-weight: 100;
    text-transform: uppercase;
}

.container4 #divv {
    height: 8vh;
    width: 44vw;
    background-color: white;
    position: absolute;
    left: 31%;
    bottom: 1%;
}

#gap {
    height: 8px;
    width: 100vw;
    background-color: black;
    margin-top: 4vh;

}

.container5 {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container5 #part-one {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    position: relative;
}

.container5 #part-one #divv2 {
    height: 8vh;
    width: 46vw;
    background-color: white;
    position: absolute;
    left: 33%;
    bottom: 1%;
}

.container5 #part-one #head {
    margin-left: 4vw;
    font-weight: lighter;
}

.container5 #part-one h1 {
    font-size: 6.5rem;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
    font-weight: 300;
    margin-left: 8vw;
    letter-spacing: -1px;
}

.container5 #part-one #shape-5 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 5vw;
}

.container5 #part-two {
    min-height: 100vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1vw;

}

.container5 #part-two #left-block {
    height: 150vh;
    width: 120vh;
    /* border: 1px solid black; */
    /* background-image: url(); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: top; */
}

.container5 #part-two #left-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .container5 #part-two #left-block video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
} */

.container5 #part-two #right-block {
    height: 150vh;
    width: 70vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.container5 #part-two #right-block #lower {
    height: 70vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.container5 #part-two #right-block #upper {
    height: 80vh;
    width: 70vh;
    /* border: 1px solid black; */
    background-image: url(https://images.unsplash.com/photo-1600607687126-8a3414349a51?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container5 #part-two #right-block #lower p {
    margin-top: 3vh;
    font-size: 1.05rem;
    font-weight: 400;
    font-family: system-ui;
}

.container5 #part-two #right-block #lower #line1 {
    height: 1px;
    width: 34vw;
    background-color: black;
}

.container5 #part-two #right-block #lower #line2 {
    height: 1px;
    width: 34vw;
    background-color: black;
}

.container5 #part-two #right-block #lower #line3 {
    height: 1px;
    width: 34vw;
    background-color: black;
}

.container5 #part-two #right-block #lower p1 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: system-ui;
    transition: all ease .5s;
}

.container5 #part-two #right-block #lower p1:hover {
    /* scale:1.4; */
    margin-left: 10%;
}

.container5 #part-two #right-block #lower p2 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: system-ui;
    transition: all ease .5s;
}

.container5 #part-two #right-block #lower p2:hover {
    /* scale:1.4; */
    margin-left: 10%;
}

.container5 #part-two #right-block #lower p3 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: system-ui;
    transition: all ease .5s;
}

.container5 #part-two #right-block #lower p3:hover {
    /* scale:1.4; */
    margin-left: 10%;
}

.container5 #part-two #right-block #lower button {
    padding: .8vh 2.8vw;
    font-size: 1rem;
    font-weight: 100;
    font-family: gilroy;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    top: 3vh;
    left: 12vw;
    position: relative;
    overflow: hidden;
}

.container5 #part-two #right-block #lower button #overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container5 #part-two #right-block #lower button #overlay i {
    color: white;
    font-size: 15px;
}

.container5 #part-two #right-block #lower button:hover {
    #overlay {
        height: 0%;
        width: 0%;
        border-radius: 0%;
    }

    i {
        display: none;
    }
}

#gap2 {
    height: 8px;
    width: 100vw;
    background-color: black;
    margin-top: 12vh;
}


.container6 {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

}

.container6 #part-primary {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    position: relative;
}

.container6 #part-primary #element {
    height: 8vh;
    width: 46vw;
    /* border: 1px solid black; */
    background-color: white;
    position: absolute;
    left: 33%;
    bottom: 1%;
}

.container6 #part-primary #header {
    margin-left: 3vw;
    font-weight: lighter;
}

.container6 #part-primary #hone h1 {
    font-size: 6.5rem;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
    font-weight: 300;
    margin-left: 6vw;
    margin-right: 5vw;
    letter-spacing: -1px;
}

.container6 #part-primary #shape-6 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 3vw;
}

.container6 #part-secondary {
    min-height: 100vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1vw;
    overflow: hidden;
}

.container6 #part-secondary #left-side {
    height: 150vh;
    width: 100vw;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container6 #part-secondary #left-side #upper_section {
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    background-image: url(https://images.unsplash.com/photo-1710088912041-34d1767d376a?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .container6 #part-secondary #right-side{
    height: 150vh;
    width: 35%;
    border: 2px solid red;
} */

/* .container6 #part-secondary #right-side video {
height: 100%;
width: 100%;
object-fit: cover;
} */

#anime {
    position: absolute;
    font-size: 4vw;
    font-weight: 100;
    rotate: 50deg;
    bottom: 25vh;
    /* top: 720%; */
    left: -10vw;
    color: rgb(96, 103, 108);
    text-transform: uppercase;
    overflow: hidden;
    /* margin-left: -20%; */
}

/* 
 #anime2 {
    position: absolute;
    font-size: 4rem;
    rotate: -20deg;
    top: 765%;
    right: -15%;
    color: rgb(96, 103, 108);
    text-transform: uppercase;
    overflow: hidden;
    margin-left: -20%; 
}  */

.container7 {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    /* overflow: hidden; */
}

#block1 {
    scale: 0;
    opacity: -100%;
    height: 100%;
    width: 31.3%;
    border-left: 1px solid black;
    font-size: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 51, 51);
    font-family: sans-serif;
}

span {
    font-size: 1rem;
    color: rgb(17, 17, 17);
}

#block2 {
    scale: 0;
    opacity: -100%;
    height: 100%;
    width: 31.3%;
    border-left: 1px solid black;
    font-size: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 51, 51);
    font-family: sans-serif;
}

#block3 {
    scale: 0;
    opacity: -100%;
    height: 100%;
    width: 31.3%;
    border-left: 1px solid black;
    font-size: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 51, 51);
    font-family: sans-serif;
}


.container8 {
    height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
}

#leftside_portion {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    justify-content: center;
}

#img_section {
    height: 80%;
    width: 70%;
    position: relative;
    /* border: 1px solid red; */
}

#img_section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlayimg {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    background-color: white;
    /* top: 0%; */
    bottom: -3%;
    position: absolute;
}

#rightside_portion {
    height: 100%;
    width: 50%;
    /* border: 1px solid rgba(255, 0, 0, 0.312); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#firsth1 {
    display: flex;
    gap: 1vw;
    position: relative;
}

#secondh1 {
    position: relative;
    display: flex;
    gap: 1vw;
    z-index: 999;
    line-height: 7vh;
    margin-left: -8.5vw;
}

#rightside_portion #button {
    padding: .8vh 2.8vw;
    font-size: 1rem;
    font-weight: 100;
    font-family: gilroy;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    margin-right: 27vw;
    margin-top: 5vh;
    /* position: relative;
    overflow: hidden; */

}

#rightside_portion h1 {
    font-size: 9vh;
    font-weight: 600;
    color: rgb(61, 61, 61);
}

#overlayf_h1 {
    height: 12vh;
    width: 0vw;
    /* left: 0%; */
    right: 0%;
    background-color: rgba(255, 255, 255, 0.53);
    position: absolute;
}

#overlays_h1 {
    height: 12vh;
    width: 0vw;
    /* left: 0%; */
    right: 0%;
    background-color: rgba(255, 255, 255, 0.53);
    position: absolute;
}

button {
    padding: 3vh 5vw;
    font-size: 3vh;
    margin-left: 2vw;
}

button i {
    font-size: 2vh;
}


.container9 {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #222222;
    margin-top: 10vh;
    overflow: hidden;
}

#last_left {
    height: 100%;
    width: 35%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 6vw 2vw;
}

#block_1 {
    height: 37.5%;
    /* border: 1px solid blue; */
    display: flex;
    gap: 5px;
}

#innerblock_1 {
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#pri_one {
    /* border: 1px solid purple; */
    height: 40%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

#pri_one p {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: .8vh;
    color: white;
}

#sec_one {
    /* border: 1px solid purple; */
    height: 60%;
    width: 100%;
    display: flex;
    gap: 5px;
    font-size: 1.5vh;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}

#innerblock_2 {
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#pri_two {
    /* border: 1px solid purple; */
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
}

#pri_two p {
    font-size: 3vh;
    margin-left: -2.5vw;
    margin-bottom: .8vh;
    font-weight: 500;
    color: white;
}


#sec_two {
    /* border: 1px solid purple; */
    height: 60%;
    width: 100%;
    display: flex;
    line-height: 1.5vh;
    font-size: 1.5vh;
    gap: 5px;
    justify-content: center;
    align-items: start;
    color: white;
    font-family: sans-serif;
}

#block_2 {
    height: 37.5%;
    /* border: 1px solid blue; */
    display: flex;
    gap: 5px;
}

#innerblock_3 {
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#pri_three {
    /* border: 1px solid purple; */
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#pri_three p {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: .8vh;
    margin-left: .8vw;
    color: white;
}

#sec_three {
    /* border: 1px solid purple; */
    height: 60%;
    width: 100%;
    display: flex;
    font-size: 1.5vh;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}

#innerblock_4 {
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#pri_four {
    /* border: 1px solid purple; */
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#pri_four p {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: .8vh;
    margin-left: -1.5vw;
    color: white;
}

#sec_four {
    /* border: 1px solid purple; */
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5vh;
    color: white;
    font-family: sans-serif;
}

#block_3 {
    height: 25%;
    /* border: 1px solid blue; */
    display: flex;
}

#innerblock_5 {
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 6vw;
}

#pri {
    font-size: 3vh;
    font-weight: 500;
    margin-left: -3.5vw;
    color: white;
}

#sec {
    color: white;
    font-family: sans-serif;
}

#sec2 {
    margin-left: 2.8vw;
    color: white;
    font-family: sans-serif;
}

#pri2 {
    font-size: 3vh;
    margin-left: -1vw;
    font-weight: 500;
    color: white;
}



#innerblock_6 {
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#last_right {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

#last_right h1 {
    font-size: 50rem;
    color: white;
    font-family: gilroy;
}

#last_right span {
    margin-left: -12vw;
    font-size: 50rem;
    font-weight: 100;
    color: white;
    font-family: gilroy;

}








/* ----------------------------------------responsive portion---------------------------------- */






@media (max-width:600px) {

    .menupart {
        overflow: hidden;
    }

    #right_portion i{
        margin-right: 3vw;
        margin-top: -.5vh;
    }

    #overlay_1,
    #overlay_2,
    #overlay_3,
    #overlay_4,
    #overlay_5,
    p_one,
    p_two,
    p_three,
    p_four,
    p_five {
        padding-top: 5vh;
        padding-left: 4vw;
        font-size: 10vw;
    }

    p_inner1 {
        font-size: 5vw;
    }
    
    p_inner1 span {
        font-size: 9vw;
    }

    p_inner2 {
        font-size: 3.5vw;
        line-height: 2vh;
    }
    
    p_inner2 span {
        font-size: 2.5vw;
    }

    #division_7{
        display: none;
    }
    
    #end1 {
        margin-top: 50vh;
        gap: 1vw;
    }
    
    #division_8 i {
        font-size: 6vw;
        font-weight: lighter;
    }
    
    #division_8 p {
        font-size: 4vw;
    }
    
    #end2 {
        margin-top: -53vh;
    }
    
    pone {
        font-size: 4vw;
    }
    
    ptwo {
        font-size: 4vw;
    }

    #left_portion {
        width: 50vw;
    }

    #right_portion {
        width: 50vw;
    }

    #logo {
        gap: 8vw;
    }

    #font1>h1 {
        font-size: 10vh;
        color: white;
        font-weight: 100;
    }

    #font2>h1 {
        font-size: 10vh;
        color: white;
        font-weight: 100;
    }

    .container1 {
        height: 50vh;
        width: 100vw;
    }

    #nav-section #one {
        margin-left: -6vw;
    }

    #nav-section #four {
        margin-right: -6.5vw;
    }

    #nav-section #two p {
        display: none;
    }

    #nav-section #three p {
        display: none;
    }

    #text {
        height: calc(68vh - 7vh);
        width: 100vw;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    #text sub {
        margin-left: -38vw;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 2vw;
    }

    #text h1 {
        font-size: 12vw;
        margin-right: 20vw;
    }

    #text span {
        font-size: 12vw;
    }

    .container2 {
        height: 80vh;
    }

    .container2 img {
        margin-top: 0vh;
        height: 100vh;
    }

    .container2 p1 {
        position: absolute;
        color: white;
        font-style: italic;
        font-weight: 100;
        font-family: silk;
        right: 50%;
        font-size: .8rem;
        bottom: 25vh;
        letter-spacing: 1px;
        margin-right: 20vw;
        margin-left: 10vw;
    }

    .container2 p2 {
        position: absolute;
        color: white;
        font-family: "Cedarville Cursive", cursive;
        font-weight: 100;
        right: 73%;
        font-style: normal;
        font-size: 28px;
        text-transform: capitalize;
        line-height: .9rem;
        margin-top: -47%;
        letter-spacing: .5x;
        margin-left: 87.1%;
    }

    .container3 #right #h2 h2 {
        font-size: 3vw;
        margin-right: -10vw;
        font-family: system-ui;
        font-weight: 100;
    }

    .container3 #left {
        padding: 15vh 3vw;
    }

    .container3 #right #circle {
        margin-top: -5.8vh;
        font-size: 10px;
    }

    .container3 #para p {
        color: white;
        font-size: 1rem;
        margin-right: -10vw;
        font-family: system-ui;
        font-weight: 100;
    }

    .container3 #para h6 {
        margin-bottom: -43vh;
        margin-right: 5vw;
        /* margin-left: -15vw; */
        color: white;
        font-size: 3vw;
        text-transform: uppercase;
        font-family: system-ui;
        font-weight: 500;
        text-align: center;
    }

    .container4 #upper {
        height: 20vh;
    }

    .container4 #upper #shape {

        /* font-size: 10px; */
        margin-bottom: 7vh;
        margin-left: -2vw;
    }

    .container4 #divv {
        height: 3.5vh;
        width: 100vw;
        left: 0vw;
        bottom: 0%;
    }

    .container4 #upper h1 {
        font-size: 7vw;
        margin-top: 8vh;
        margin-left: -19vw;
    }

    .container4 #upper #button button {
        margin-bottom: 7vh;
        padding: .5vh 1.5vw;
        font-size: 3vw;
        /* margin-bottom: 15vh; */
        /* margin-left: 5vw; */
        margin-right: -2vw;
    }

    #lower #card1 h1 {
        font-size: 3.4vw;
        text-align: center;
        /* font-family: system-ui; */
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 61vh;
    }

    #lower #card2 h1 {
        font-size: 3.35vw;
        text-align: center;
        /* font-family: system-ui; */
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 61vh;
    }

    #lower #card3 h1 {
        font-size: 3.4vw;
        text-align: center;
        /* font-family: system-ui; */
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 61vh;
    }

    #lower #card1 p {
        font-size: 2.5vw;
        line-height: 3vh;
        margin-left: 6vw;
        font-weight: 100;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.498);
    }

    #lower #card2 p {
        font-size: 2.45vw;
        line-height: 3vh;
        margin-left: 6vw;
        font-weight: 100;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.498);
    }

    #lower #card3 p {
        font-size: 2.5vw;
        line-height: 3vh;
        margin-left: 6vw;
        font-weight: 100;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.498);
    }

    /* #gap {
        height: 8px;
        width: 50vw;
        background-color: black;
        margin-top: 4vh;
    } */

    /* .container5{
        flex-direction: column;
    } */

    .container5 #part-one {
        height: 20vh;
    }

    .container5 #part-one #head {
        margin-left: 4vw;
        margin-bottom: 10vh;
        font-weight: lighter;
    }

    .container5 #part-one h1 {
        font-size: 7vw;
        margin-left: -20vw;
        margin-top: 8vh;
    }

    .container5 #part-one #shape-5 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        margin-right: 5vw;
        margin-bottom: 10vh;
    }

    .container5 #part-one #divv2 {
        height: 9vh;
        width: 100vw;
        left: 0vw;
        background-color: white;
        position: absolute;
        bottom: -7vh;
    }

    .container5 #part-two {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1vw;
    }

    .container5 #part-two #left-block {
        height: 25%;
        width: 90%;
        margin-left: 5vw;
        margin-top: -5vh;
    }

    .container5 #part-two #left-block img {
        height: 50%;
        width: 90%;
        background-size: cover;
        background-position: center;
    }

    .container5 #part-two #right-block {
        height: 25vh;
        width: 100vw;
    }

    .container5 #part-two #right-block #upper {
        display: none;
    }

    .container5 #part-two #right-block #lower {
        padding-left: 5vw;
        display: flex;
        gap: 2vh;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .container5 #part-two #right-block #lower p {
        margin-top: 3vh;
        font-size: 3vw;
        font-weight: 400;
        font-family: system-ui;
    }

    .container5 #part-two #right-block #lower #line1 {
        height: 1px;
        width: 55vw;
        background-color: black;
    }

    .container5 #part-two #right-block #lower #line2 {
        height: 1px;
        width: 55vw;
        background-color: black;
    }

    .container5 #part-two #right-block #lower #line3 {
        height: 1px;
        width: 55vw;
        background-color: black;
    }

    .container5 #part-two #right-block #lower p1:hover {
        margin-left: 10vw;
    }

    .container5 #part-two #right-block #lower p2:hover {
        margin-left: 10vw;
    }

    .container5 #part-two #right-block #lower p3:hover {
        margin-left: 10vw;
    }

    .container5 #part-two #right-block #lower button {
        padding: .8vh 5vw;
        font-size: 3.5vw;
        left: 28vw;
    }






    .container6 #part-primary #hone h1 {
        font-size: 3rem;
        text-align: center;
        text-transform: capitalize;
        color: rgb(51, 51, 51);
        font-weight: 300;
        margin-left: 6vw;
        margin-right: 5vw;
        letter-spacing: -1px;
    }

    .container6 {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
    }

    .container6 #part-primary {
        height: 25vh;
        width: 100vw;
    }

    .container6 #part-primary #element {
        height: 5vh;
        width: 100vw;
        left: 0vw;
        bottom: 0%;
    }

    .container6 #part-primary #header {
        margin-left: 4vw;
        font-weight: lighter;
    }

    .container6 #part-primary #hone h1 {
        font-size: 7vw;
        margin-top: 5vh;
        margin-right: 19vw;
    }

    .container6 #part-primary #shape-6 {
        height: 30px;
        width: 50px;
        font-size: 3vw;
        margin-right: 4vw;
    }

    .container6 #part-secondary {
        height: 100vh;
    }

    .container6 #part-secondary #left-side {
        height: 100vh;
        width: 100vw;
    }

    .container7 #block1 {
        font-size: 23vw;
        flex-direction: column;
    }

    .container7 #block2 {
        font-size: 23vw;
        flex-direction: column;
    }

    .container7 #block3 {
        font-size: 23vw;
        flex-direction: column;
    }

    .container7 span {
        font-size: 3vw;
        text-align: center;
    }

    .container8 {
        flex-direction: column;
    }

    #leftside_portion {
        height: 100vh;
        width: 100vw;
    }

    #img_section {
        height: 80%;
        width: 100vw;
    }

    #rightside_portion {
        height: 50vh;
        width: 100vw;
        padding-top: 5vh;
    }

    #secondh1 {
        line-height: 1vh;
        margin-left: 1vw;
    }

    #rightside_portion h1 {
        font-size: 9vw;
    }

    #overlayf_h1 {
        height: 7vh;
        right: 0%;
    }

    #overlays_h1 {
        height: 8vh;
        right: 0%;
        margin-top: -2vh;
    }

    #rightside_portion #button {
        margin-right: 4vw;
        margin-top: 8vh;
    }

    button {
        padding: 3vh 5vw;
        font-size: 3vh;
        margin-left: 2vw;
    }

    button i {
        font-size: 4.5vw;
    }

    .container9 {
        flex-direction: column;
    }

    #last_left {
        height: 50vh;
        width: 100vw;
        margin-bottom: -3vh;
    }

    #block_1 {
        gap: 10vw;
    }

    #pri_one p {
        font-size: 7vw;
        font-weight: 500;
    }

    #sec_one {
        font-size: 3vw;
        line-height: 2vh;
        font-weight: lighter;
        text-align: center;
    }

    #pri_two p {
        font-size: 7vw;
        font-weight: 500;
    }

    #sec_two {
        font-size: 3vw;
        line-height: 2vh;
        font-weight: lighter;
        text-align: center;
    }

    #block_2 {
        gap: 10vw;
    }

    #pri_three p {
        font-size: 7vw;
        font-weight: 500;
    }

    #sec_three {
        font-size: 3vw;
        line-height: 2vh;
        font-weight: lighter;
        text-align: center;
    }

    #pri_four p {
        font-size: 7vw;
        font-weight: 500;
    }

    #sec_four {
        text-align: center;
        font-size: 3vw;
        line-height: 2vh;
        font-weight: lighter;
    }

    #pri {
        font-size: 7vw;
        font-weight: 500;
    }

    #sec {
        font-size: 3vw;
        line-height: 2vh;
        font-weight: lighter;
        text-align: center;
    }

    #pri2 {

        font-size: 7vw;
        font-weight: 500;
    }

    #sec2 {
        text-align: center;
        font-size: 3vw;
        line-height: 2vh;
        font-weight: lighter;
    }


    #innerblock_6 {
        /* border: 1px solid green; */
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #last_right {
        height: 50vh;
        width: 100vw;
    }

    #last_right h1 {
        font-size: 80vw;
        font-weight: bolder;
    }

    #last_right span {
        margin-left: -25vw;
        font-size: 80vw;
        font-weight: 100;
    }



}